.btnNavigate{
    width: -webkit-fill-available;
    margin: 10px;
}

ion-card{
    text-align: center;
    margin: unset;
    min-height: 244px;
}

// @media only screen and (max-width: 1000px) {
// 	.input-location-home {
// 	 margin-top: 20px !important;
// 	 width:100% !important;
// 	//  text-align: center !important;
// 	}
//   }