.btnNavigate{
    width: -webkit-fill-available;
    margin: 10px;
}

ion-card{
    text-align: center;
    margin: unset;
    // min-height: 244px;
    background: linear-gradient(#030708 10%, #bc8952 90%);
}

ion-label{
    color: white;
}

@media only screen and (max-width: 369px) {
    ion-card{
        min-height: 244px;
    }
}