<ion-header>
  <ion-toolbar style="--background: #0f0f0f;">
    <ion-buttons slot="start">
      <ion-back-button style="color: white;" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img src="../../assets/Kia White Logo (no BG).png" style="width: 33%; margin-left: 25%;">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" style="--background: black;">

  <ion-grid>

    <ion-row>
      <ion-col size="6">
        <ion-card>
          <img src="../../assets/sidemenu-icons/Service & maintainance.png">
          <ion-label>Service & maintenance</ion-label><br>
          <ion-button (click)="gotoServices(2)" class="btn-edit" style="height: 28px;">Book</ion-button>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img src="../../assets/sidemenu-icons/Mecanical Repairs.png">
          <ion-label>Mechanical repairs</ion-label><br>
          <ion-button (click)="gotoServices(4)" class="btn-edit" style="height: 28px;">Book</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-card>
          <img src="../../assets/sidemenu-icons/Accident Repairs.png">
          <ion-label>Accident repairs</ion-label><br>
          <ion-button (click)="gotoServices(3)" class="btn-edit" style="height: 28px;">Book</ion-button>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img src="../../assets/sidemenu-icons/Auto Spa.png">
          <ion-label>Auto spa</ion-label><br>
          <ion-button (click)="gotoServices(5)" class="btn-edit" style="height: 28px;">Book</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-card>
          <img src="../../assets/sidemenu-icons/Accessories.png">
          <ion-label>Accessories</ion-label><br>
          <ion-button (click)="gotoAccessories()" class="btn-edit" style="height: 28px;">Book</ion-button>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img src="../../assets/sidemenu-icons/Roadside assistance.png">
          <ion-label>24/7 Roadside assistance</ion-label><br>
          <ion-button (click)="gotoCallUs()" class="btn-edit" style="height: 28px;">Go</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-card>
          <img src="../../assets/sidemenu-icons/Vehicle pick & drop-.png">
          <ion-label>Pick & drop</ion-label><br>
          <ion-button (click)="gotoPickAndDrop()" class="btn-edit" style="height: 28px;">Book</ion-button>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img src="../../assets/sidemenu-icons/Online Payment.png">
          <ion-label>Online payment</ion-label><br>
          <ion-button (click)="gotoOnlinePayment()" class="btn-edit" style="height: 28px;">Go</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-card>
          <img src="../../assets/sidemenu-icons/Find us.png">
          <ion-label>Find us</ion-label><br>
          <ion-button (click)="gotoShowroomList()" class="btn-edit" style="height: 28px;">Go</ion-button>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img src="../../assets/sidemenu-icons/Help & Support.png">
          <ion-label>Contact us</ion-label><br>
          <ion-button (click)="gotoContactUs()" class="btn-edit" style="height: 28px;">Contact</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>