<ion-header>
  <ion-toolbar style="--background: #0f0f0f; border-bottom: 3px solid white;">
    <ion-buttons slot="start">
      <ion-back-button style="color: white;" defaultHref="/online-payment"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img src="../../assets/Kia White Logo (no BG).png" style="width: 33%; margin-left: 25%;">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background-image" style="text-align: -webkit-center;" fullscreen="true">
  <ion-list *ngFor="let item of bills; let i = index" class="billItem text-white">
    <ion-item class="no-background">
      <ion-checkbox slot="start" color="danger" value="{{item.refInv}},{{item.bamt}}+{{i}}" (ionChange)="selectInvoce($event)"></ion-checkbox>
      <ion-label>Invoice: {{item.refInv}}</ion-label>
    </ion-item>
    <ion-label>Balance: Rs. {{item.bamt}}</ion-label>
  </ion-list>

  <div>
    <h1>Total: Rs. {{total}}</h1>
  </div>
  <div style="text-align: center; margin: 40px 0;">
    <ion-button class="btnNavigate" (click)="pay()">Pay</ion-button>
  </div>
</ion-content>