video{
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.toolbar-background {
    background: white !important;
}

// ion-fab-button::part(native) {
//     background-color: rgb(235, 0, 41);
//     font-weight: bold;
// }

ion-fab-button {
    width: 60px;
    height: 60px;
}

.fab-horizontal-center {
    margin-left: unset;
    margin-inline-start: -40px !important;
}

.btn-brochure{
    border-radius: 10px;
    --background: gainsboro;
    color: #0f0f0f;
    font-size: small;
    font-weight: bold;
    --padding-start: 5px !important;
    --padding-end: 5px !important;
}

.lbl-on-image {
    position: absolute;
    color: white;
    border-left: 3px solid rgb(235, 0, 41);
    padding-left: 10px;
    margin-left: 5px;
}

.lbl-on-video{
    position: absolute;
    left: 10px;
    bottom: 10px;
    font-weight: bold;
    color: white;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
    visibility: hidden;
}

.VRarrowsContainer{
    position: absolute;
    z-index: 2;
    width: 100%;
    bottom: -43%;
}

.vrContainer{
    align-items: center;
    text-align: center;
}
.image-on-video{
    width: 80px;
    top: 33%;
    left: 40%;
}
.btnHide{
    visibility: hidden;
}
.enabled {
    --background: #ac7743;
    --color: #FFFFFF;
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: 0px 0px 6px 1px white;
}

.text-360{
    padding-top: 10px;
    position: absolute;
    z-index: 2;
    font-weight: bold;
    left: 43%;
}

.image-container{
    background-size: cover;
    min-height: 250px;
}

.custom-button{
    width: 30px;
    height: 30px;
}