<ion-header>
  <ion-toolbar style="--background: #0f0f0f; border-bottom: 3px solid white;">
    <ion-buttons slot="start">
      <ion-back-button style="color: white;" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img src="../../assets/Kia White Logo (no BG).png" style="width: 33%; margin-left: 25%;">
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content [fullscreen]="false">
  <div id="container">
    <ion-button expand="block" color="primary" (click)="playOfflineVideo()">View Local Video</ion-button>

    <ion-button expand="block" color="success" (click)="playOnlineVideo()">View Online Video</ion-button>

    <ion-button expand="block" color="danger" (click)="closeVideoPlayer()">Close Video Player</ion-button>
  </div>
</ion-content> -->

<!-- <ion-content [scrollEvents]="true" (ionScroll)="didScroll()" fullscreen="true" style="--background: #0f0f0f;"> -->
<ion-content fullscreen="true" style="--background: #0f0f0f;">
  <!-- <div style="width: 100%; height: 3px; background: rgb(235, 0, 41);" slot="fixed"></div> -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="center">
    <ion-fab-button class="enabled" [routerLink]="['/showroom']">Test<br>drive</ion-fab-button>
  </ion-fab>

  <div style="padding: unset;">
    <ion-card *ngFor="let item of feed" style="margin: unset; font-family: kia;" (click)="playVideo(item.id)">
      <ion-card-content style="padding: unset;">
        <video #player playinline preload="auto" poster="../../assets/kia-video-thumbnail.jpeg">
          <source [src]="item.src" type="video/mp4" [id]="item.id">
        </video>

        <ion-label class="lbl-on-video">{{ item.title }}</ion-label>
        <img #playImage [id]="item.id" class="lbl-on-video image-on-video"
          [ngClass]="{'btnHide': item.id == videoId && !videoPaused}" src="../../assets/kia-play-icon.png">
      </ion-card-content>
    </ion-card>
  </div>
  <!-- "src": "http://static.videogular.com/assets/videos/elephants-dream.mp4" -->
  <!-- <div>
    <img src="../../assets/kia-video-thumbnail-1.png">
  </div>
  <div>
    <img src="../../assets/kia-video-thumbnail-2.png">
  </div> -->
  <!-- <div>
    <img src="../../assets/kia-360VR.png" alt="360 IMAGE">
  </div> -->
  <div style="background: white;">
    <div style="text-align: center; padding-top: 10px;">
      360VR
    </div>
    <div class="row vrContainer">
      <div class="col-2" style="padding-left: 20px; padding-right: 0px; padding-top: 20px;">
        <span (click)="slideNext()">
          <!-- <ion-icon name="arrow-back" style="color: red;"></ion-icon> -->
          <img src="../../assets/kia-left-rotate-vr.png">
        </span>
      </div>
      <div class="col-8" *ngIf="changeSlider">
        <ion-slides #slides slidesPerView="1" [options]="slideOpts">
          <!-- <ion-slides #slides slidesPerView="1" [options]="slideOpts" class="swiper-no-swiping"> -->
          <ion-slide *ngFor="let img of vrImages">
            <img [src]="img.src" alt="test">
          </ion-slide>
        </ion-slides>
      </div>
      <div class="col-8" *ngIf="!changeSlider">
        <ion-slides #slides slidesPerView="1" [options]="slideOpts">
          <!-- <ion-slides #slides slidesPerView="1" [options]="slideOpts" class="swiper-no-swiping"> -->
          <ion-slide *ngFor="let img of vrImages">
            <img [src]="img.src" alt="test">
          </ion-slide>
        </ion-slides>
      </div>
      <div class="col-2" style="padding-left: 0px; padding-right: 20px; padding-top: 20px;">
        <span (click)="slidePrev()">
          <!-- <ion-icon name="arrow-forward" style="color: red;"></ion-icon> -->
          <img src="../../assets/kia-right-rotate-vr.png">
        </span>
      </div>
    </div>
    <div></div>
    <div style="text-align: center; padding-bottom: 10px;">
      <!-- <img src="https://www.kia.lk/wp-content/themes/kiamotors/assets/dist/images/vr_colorMask.png" class="mask hvr-icon" alt="Clear White" title="Clear White">
      <img src="https://www.kia.lk/wp-content/themes/kiamotors/assets/dist/images/vr_colorMask.png" class="mask hvr-icon" alt="Silky Silver" title="Silky Silver">
      <img src="https://www.kia.lk/wp-content/themes/kiamotors/assets/dist/images/vr_colorMask.png" class="mask hvr-icon" alt="Uraban Green" title="Uraban Green"> -->
      <div>
        <ion-label>{{vehicleColor}}</ion-label>
      </div>
      <ion-button style="--background: rgb(243, 242, 239); width: 30px; height: 30px;" (click)="changeColor(0)">
      </ion-button>
      <ion-button style="--background: olive; width: 30px; height: 30px;" (click)="changeColor(1)"></ion-button>
    </div>
  </div>

  <div style="padding-bottom: 100px; background: #0f0f0f;">
    <tr>
      <td>
        <div>
          <img src="../../assets/kia-exterior.png" alt="SHOWCASE IMAGES">
          <ion-label class="lbl-on-image" style="left: 0;">Exterior</ion-label>
        </div>
      </td>
      <td>
        <div>
          <img src="../../assets/kia-interior.png" alt="SHOWCASE IMAGES">
          <ion-label class="lbl-on-image" style="left: 50%;">Interior</ion-label>
        </div>
      </td>
    </tr>

    <ion-button class="btn-brochure" style="text-transform: none; margin-top:15px">Download Brochure</ion-button>

    <!-- <div style="background: white;">
      <div style="text-align: center;">
        360VR
      </div>
      <div class="row vrContainer">
        <div class="col-2">
          <span (click)="slidePrev()">
            <ion-icon name="arrow-back" style="color: red;"></ion-icon>
          </span>
        </div>
        <div class="col-8">
          <ion-slides #slides slidesPerView="1" [options]="slideOpts">
            <ion-slide>
              <img src="../../assets/kia_slide_1.jpg">
            </ion-slide>
            <ion-slide>
              <img src="../../assets/kia_slide_2.jpg">
            </ion-slide>
            <ion-slide>
              <img src="../../assets/kia_slide_3.jpg">
            </ion-slide>
          </ion-slides>
        </div>
        <div class="col-2">
          <span (click)="slideNext()">
            <ion-icon name="arrow-forward" style="color: red;"></ion-icon>
          </span>
        </div>
      </div>
    </div> -->
  </div>

</ion-content>

<ion-footer no-border>
  <img class="kia-main-footer" src="../../assets/kia-footer.png" alt="kia-footer">
</ion-footer>