<ion-header>
  <ion-toolbar style="--background: #0f0f0f;">
    <ion-buttons slot="start">
      <ion-back-button style="color: white;" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img src="../../assets/Kia White Logo (no BG).png" style="width: 33%; margin-left: 25%;">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" style="--background: #0f0f0f;">
  <!-- <ion-content fullscreen="true" class="background-image" fullscreen="true"> -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="start">
    <ion-fab-button class="enabled" (click)="downloadPdf()">Download<br>brochure</ion-fab-button>
  </ion-fab>
  
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button class="enabled" [routerLink]="['/showroom']">Test drive</ion-fab-button>
  </ion-fab>
  
  <div *ngIf="feed.length" style="padding: unset; min-height: 200px;">
    <ion-card *ngFor="let item of feed; let i = index" style="margin: unset;">
      <ion-card-content style="padding: unset;">
        <video #player playinline preload="auto" controls loop controlsList="nodownload" poster="{{item.thumbnail}}">
          <source [src]="item.src" type="video/mp4" [id]="i">
        </video>
        <ion-label class="lbl-on-video">{{ item.title }}</ion-label>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="vrImagesList.length" style="background: white; min-height: 280px;">
    <div class="text-360">
      360VR
    </div>
    <div class="vrContainer">
      <div *ngIf="changeSlider">
        <ion-slides [options]="slideOpts">
          <ion-slide *ngFor="let img of vrImages">
            <img [src]="img" alt="KIA" style="min-height: 200px;">
          </ion-slide>
        </ion-slides>
      </div>
      <div *ngIf="!changeSlider">
        <ion-slides [options]="slideOpts">
          <ion-slide *ngFor="let img of vrImages">
            <img [src]="img" alt="KIA" style="min-height: 200px;">
          </ion-slide>
        </ion-slides>
      </div>
    </div>
    <div style="text-align: center;">
      <img src="../../assets/kia-360-rotate-text.png" alt="Drag to rotate">
    </div>
    <div style="text-align: center; padding-bottom: 10px;">

      <div>
        <ion-label>{{colorName}}</ion-label>
      </div>

      <span *ngFor="let item of vrImagesList">
        <ion-button class="custom-button" [style.--background]="item.colorCode" (click)="changeColor(item)"></ion-button>
      </span>
    </div>
  </div>

  <!-- <div>
    <ion-grid class="no-padding">
      <ion-row>
        <ion-col size="6" class="no-padding" *ngFor="let item of images">
          <img [src]="item.src" alt="KIA">
          <ion-label class="lbl-on-image" style="left: 0;">{{item.title}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button class="btn-brochure" style="text-transform: none; margin-top:15px" (click)="downloadPdf()">Download brochure</ion-button>
  </div> -->

  <div style="margin-bottom: 30px;" *ngIf="sliderExterior.length">
    <div class="slide-topics-wrapper">
      <h1 class="slide-topics">Exterior</h1>
    </div>    
    <ion-slides pager="true" [options]="slideOptsSecondary">
      <ion-slide *ngFor="let item of sliderExterior">
        <img [src]="item.src" style="background: white;" alt="KIA MOTORS">
      </ion-slide>
    </ion-slides>
  </div>
  <div style="margin-bottom: 30px;" *ngIf="sliderInterior.length">
    <div class="slide-topics-wrapper">
      <h1 class="slide-topics">Interior</h1>
    </div>    
    <ion-slides pager="true" [options]="slideOptsSecondary">
      <ion-slide *ngFor="let item of sliderInterior">
        <img [src]="item.src" style="background: white;" alt="KIA MOTORS">
      </ion-slide>
    </ion-slides>
  </div>
  <div style="margin-bottom: 30px;" *ngIf="sliderPerformance.length">
    <div class="slide-topics-wrapper">
      <h1 class="slide-topics">Performance</h1>
    </div>  
    <ion-slides pager="true" [options]="slideOptsSecondary">
      <ion-slide *ngFor="let item of sliderPerformance">
        <img [src]="item.src" style="background: white;" alt="KIA MOTORS">
      </ion-slide>
    </ion-slides>
  </div>
  <div style="margin-bottom: 30px;" *ngIf="sliderSafety.length">
    <div class="slide-topics-wrapper">
      <h1 class="slide-topics">Safety</h1>
    </div>  
    <ion-slides pager="true" [options]="slideOptsSecondary">
      <ion-slide *ngFor="let item of sliderSafety">
        <img [src]="item.src" style="background: white;" alt="KIA MOTORS">
      </ion-slide>
    </ion-slides>
  </div>
  <div class="filler">
    <img style="width: 30%;" src="../../assets/Kia White Logo (no BG).png">
  </div>

</ion-content>