video{
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.toolbar-background {
    background: white !important;
}

// ion-fab-button::part(native) {
//     background-color: rgb(235, 0, 41);
//     font-weight: bold;
// }

ion-fab-button {
    width: 100px;
    height: 100px;
    margin: 20px;
}

.fab-horizontal-center {
    margin-left: unset;
    margin-inline-start: -40px !important;
}

.btn-brochure{
    border-radius: 10px;
    --background: gainsboro;
    color: #0f0f0f;
    font-size: small;
    font-weight: bold;
    --padding-start: 5px !important;
    --padding-end: 5px !important;
}

.lbl-on-image {
    position: absolute;
    color: white;
    border-left: 3px solid rgb(235, 0, 41);
    padding-left: 10px;
    margin: 5px;
}

.lbl-on-video{
    position: absolute;
    left: 10px;
    bottom: 10px;
    font-weight: bold;
    color: white;
    padding-left: 10px;
    border-left: 3px solid rgb(235, 0, 41);
}

.swiper-container-horizontal > .swiper-pagination-bullets {
    visibility: hidden;
}

.VRarrowsContainer{
    position: absolute;
    z-index: 2;
    width: 100%;
    bottom: -43%;
}

.vrContainer{
    align-items: center;
    text-align: center;
}
// .image-on-video{
//     width: 80px;
//     top: 33%;
//     left: 40%;
// }
.btnHide{
    visibility: hidden;
}
.enabled {
    --background: #ac7743;
    --color: #FFFFFF;
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: 0px 0px 6px 1px white;
}

.text-360{
    padding-top: 10px;
    position: absolute;
    z-index: 2;
    font-weight: bold;
    left: 43%;
}

.image-container{
    background-size: contain;
    height: 267px;
    background-repeat: no-repeat;
}

.custom-button{
    width: 30px;
    height: 30px;
}

.no-padding{
    padding: unset;
    border: 1px solid gray;
}

.slide-topics-wrapper{
    color: white;
    text-align: -webkit-center;
}

.slide-topics{
    width: fit-content;
    border-left: solid red;
    padding-left: 10px;
}

.filler{
    height: 110px;
    text-align: center;
    padding-top: 10px;
}

@media only screen and (max-width: 390px) {
    ion-fab-button {
        margin: 0px;
    }
    .filler{
        height: 90px;
    }
}
