<ion-header>
  <ion-toolbar style="--background: #0f0f0f;">
    <ion-buttons slot="start">
      <ion-back-button style="color: white;" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img src="../../assets/Kia White Logo (no BG).png" style="width: 33%; margin-left: 25%;">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background-image" fullscreen="true">
  <h1 style="text-align: center;">My bookings</h1>

  <ion-grid *ngFor="let item of bookings" class="booking-container">
    <ion-row>
      <ion-col size='9'>
        <div>
          <ion-label class="topics" *ngIf="item.booking_type==2">Type: Service</ion-label>
          <ion-label class="topics" *ngIf="item.booking_type==3">Type: Accident repairs</ion-label>
          <ion-label class="topics" *ngIf="item.booking_type==4">Type: Mechanical repairs</ion-label>
          <ion-label class="topics" *ngIf="item.booking_type==4">Type: Auto spa</ion-label>
        </div>
        <div>
          <ion-label class="topics">Date: {{item.date}}</ion-label>
        </div>
        <div>
          <ion-label class="topics">Time: {{item.start}}-{{item.end}}</ion-label>
        </div>
        <div>
          <ion-label class="topics">Note: {{item.note}}</ion-label>
        </div>
      </ion-col>
      <ion-col size='3'>
        <ion-button (click)="bookPickAndDrop(item.booking_id)" class="btn-edit" style="margin-top: 34px;">Book</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <h2 *ngIf="bookings.length==0" style="text-align: center; margin-top: 20%;">No current bookings</h2>
  <div style="width: 100%; margin: 20px 0; text-align: center;">
    <ion-button class="btnNavigate" [routerLink]="['/home']">Back</ion-button>
  </div>

  <ion-grid class="booking-container">
    <ion-row style="border-bottom: 1px solid white ;">
      <ion-col size = '6'>
        Distance to service location
      </ion-col>
      <ion-col size = '3' style="border-left: 1px solid white; border-right: 1px solid white;;">
        One way (Rs)
      </ion-col>
      <ion-col size = '3'>
        Pickup & Drop (Rs)
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let item of pricing">
      <ion-col size = '6'>
        {{item.distance_location}}
      </ion-col>
      <ion-col size = '3' style="border-left: 1px solid white; border-right: 1px solid white; text-align: end;">
        {{item.one_way | number:'1.0':'en-US'}}
      </ion-col>
      <ion-col size = '3' style="text-align: end;">
        {{item.Pick_and_drop | number:'1.0':'en-US'}}
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>