.checked {
    color: orange;
}

.stars-container{
    text-align: -webkit-center;
}

.add-margin{
    margin: 0 5px;
}

.close-button{
    position: fixed;
    right: 10px;
    top: 10px;
    height: 30px;
    width: 30px;
}

.native-textarea.sc-ion-textarea-md {
    min-height: 50px;
}