<ion-header>
  <ion-toolbar style="--background: #0f0f0f;">
    <ion-buttons slot="start">
      <ion-back-button style="color: white;" defaultHref="/my-part-requests"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img src="../../assets/Kia White Logo (no BG).png" style="width: 33%; margin-left: 25%;">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background-image" fullscreen="true">
  <div class="loader" *ngIf="showLoader">
    <ion-label>Uploading</ion-label><br>
    <ion-spinner name="dots"></ion-spinner>
  </div>
  <form [formGroup]="partRequestForm" (ngSubmit)="submitDetails()" style="margin: 20px;">
    <div>
      <ion-label class="topics">Description</ion-label>
      <ion-item style="border-radius: 24px; padding: 5px;">
        <ion-textarea style="min-height: 86px;" auto-grow=true placeholder="Write a note" formControlName="description"></ion-textarea>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.description">
          <div class="error-message"
            *ngIf="partRequestForm.get('description').hasError(validation.type) && (partRequestForm.get('description').dirty || partRequestForm.get('description').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
    </div>
    <div>
      <tr class="row" style="place-items: center">
        <td class="col-6">
          <ion-label class="topics">Upload image</ion-label>
        </td>
        <td class="col-5">
          <ion-button class="btn-edit" (click)="selectImage()">Choose image</ion-button>
        </td>
        <td class="col-1"></td>
      </tr>
      
      <tr>
        <div style="background: rgba(0, 0, 0, 0.5); margin: 10px 0;">
          <img [src]='finalImageURL' (click)="deleteImage()">
        </div>
      </tr>
    </div>

    <div >
      <tr class="row" style="place-items: center">
        <td class="col-6">
          <ion-label class="topics">Vehicle model</ion-label>
        </td>
        <td class="col-5">
          <ion-item class="selector-wrapper custom-select">
            <ion-select placeholder="Select model" okText="Confirm" cancelText="Dismiss"
              (ionChange)="selectModel($event)">
              <ion-select-option *ngFor="let item of vehicleModels" value="{{item.vehicle_model_id}}">{{item.model_name}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </td>
        <td class="col-1"></td>
      </tr>
    </div>
  
    <div style="width: 100%; margin-top: 20px; text-align: center;">
      <ion-button class="btnNavigate" type="Submit" [disabled]="!partRequestForm.valid">Request</ion-button>
    </div>
  </form>
</ion-content>