.btn-edit{
    min-width: 100px;
}

ion-label{
    padding-left: 10px;
}

.error-message {
    margin-left: 10%;
    text-align: left;
}

.custom-select{
    width: 134.64px !important;
    height: 44.8px !important;
}