<ion-header>
  <ion-toolbar style="--background: #0f0f0f; border-bottom: 3px solid white;">
    <ion-buttons slot="start">
      <ion-back-button style="color: white;" defaultHref="/damage-estimate"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img src="../../assets/Kia White Logo (no BG).png" style="width: 33%; margin-left: 25%;">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background-image" fullscreen="true">
    <div style="margin: 20px 10px;">
      <!-- <div style="margin: 5px;"> -->
        <div *ngFor="let msg of messages">
          <tr class="row">
            <td class="col-10">
              <ion-textarea auto-grow=true disabled class="received" *ngIf="msg.isAdmin" value="{{msg.message}}">
              </ion-textarea>
            </td>
            <td class="col-2"></td>
          </tr>
          <tr class="row">
            <td class="col-2">
            <td>
            <td class="col-10">
              <ion-textarea auto-grow=true disabled class="sent" *ngIf="!msg.isAdmin" value="{{msg.message}}">
              </ion-textarea>
            </td>
          </tr>
        </div>
      <!-- </div> -->

    </div>

    <form class="message-container" [formGroup]="collitionForm" (ngSubmit)="submitDetails()">
      <div style="margin-top: 20px;">
        <ion-label class="topics">Message</ion-label>
        <ion-item style="border-radius: 24px; padding: 5px;">
          <ion-textarea style="min-height: 86px;" auto-grow=true placeholder="Write a note" formControlName="description"></ion-textarea>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.description">
            <div class="error-message"
              *ngIf="collitionForm.get('description').hasError(validation.type) && (collitionForm.get('description').dirty || collitionForm.get('description').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </div>
      <div style="margin-top: 20px;">
        <tr class="row" style="place-items: center">
          <td class="col-6">
            <ion-label class="topics">Upload image</ion-label>
          </td>
          <td class="col-5">
            <ion-button class="btn-edit" (click)="getImages()">Choose image</ion-button>
          </td>
          <td class="col-1"></td>
        </tr>

        <tr style="background: rgba(0, 0, 0, 0.5);">
          <span *ngFor="let image of imageURLs">
            <img class="thumbnail" [src]='image'>
          </span>
        </tr>
      </div>

      <div style="margin-top: 20px;">
        <tr class="row" style="place-items: center">
          <td class="col-6">
            <ion-label class="topics">Upload video</ion-label>
          </td>
          <td class="col-5">
            <ion-button class="btn-edit" (click)="selectVideo()">Choose video</ion-button>
          </td>
          <td class="col-1"></td>
        </tr>
        <tr class="row" style="place-items: center" *ngIf="videoURLs.length>0">
          <td class="col-6">
          </td>
          <td class="col-6">
            <span class="image-count">
              {{videoURLs.length}} video(s) added
            </span>
          </td>
        </tr>
      </div>
      <div style="text-align: center;">
        <ion-spinner name="dots" *ngIf="showLoader"></ion-spinner>
      </div>
      <div style="width: 100%; margin-top: 20px; text-align: center;">
        <ion-button class="btnNavigate" type="Submit" [disabled]="!collitionForm.valid">Submit</ion-button>
      </div>
    </form>
</ion-content>
<!-- <ion-footer no-border>
  <img class="kia-main-footer" src="../../assets/kia-footer.png" alt="kia-footer">
</ion-footer> -->