#map {
    width: 100%;
    height: 85%;
}

// ion-content.background-image{
//     --background: url(../../assets/kia-background.jpg) 0 0/100% 100% no-repeat;
// }

.showroomItem{
    margin: 20px;
    width: 85%;
}