<ion-header>
  <ion-toolbar style="--background: #0f0f0f;">
    <ion-buttons slot="start">
      <ion-back-button style="color: white;" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img src="../../assets/Kia White Logo (no BG).png" style="width: 33%; margin-left: 25%;">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background-image vertical-center" style="text-align: -webkit-center;" fullscreen="true">
  <!-- <div style="width: 100%; height: 3px; background: rgb(235, 0, 41);" slot="fixed"></div> -->

  <div #container style="height: 100%;">
    <!-- <div style="text-align: -webkit-center;"> -->
    <div #topic class="text-white" style="text-align: -webkit-center;">
      <ion-label>{{showroom.shop_name}}</ion-label><br>
      <ion-label style="white-space: pre-line;">{{showroom.shop_address}}</ion-label><br>
      <ion-label>{{showroom.tel_no}}</ion-label>
    </div>
    <!-- </div> -->
    <div #map id="map" [style.height]='myheight'></div>
    <div class="fix-button">
      <ion-button class="btnNavigate">Navigate</ion-button>
    </div>
  </div>
</ion-content>
<!-- 
<ion-footer no-border>
  <img class="kia-main-footer" src="../../assets/kia-footer.png" alt="kia-footer">
</ion-footer> -->