<ion-header>
  <ion-toolbar style="--background: #0f0f0f;">
    <ion-title>
      <img src="../../assets/Kia White Logo (no BG).png" style="width: 33%; margin-left: 25%;">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="background-image">
  <div style="margin-top: 100px;">
    <div style="text-align: center;">
      <div>
        <ion-label class="text-white topics">
          Service advisor <br> will contact you <br> regarding installation
        </ion-label>  
      </div>
      <div>
        <img src="../../assets/kia-done.png" style="width: 40%; margin-top: 20px; margin-bottom: 20px;">
      </div>
      <div>
        <ion-button class="btnNavigate" [routerLink]="['/accessories']">Exit</ion-button>
      </div>
    </div>
  </div>

</ion-content>