.my-orders{
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
}

.booking-container{
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
}

.customCol{
    background: white;
    color: black;
    border: 2px solid black;
}

.native-input.sc-ion-input-md {
    padding: unset !important;
}

.error-message {
    text-align: left;
    color: red;
    font-size: small;
}

.select-location{
    margin-left: 15px;
    font-size: small;
    color: black;
}

.chk-box{
    --background-checked: black;
    --border-color-checked: black;
}

.lbl{
    vertical-align: super;
    padding-left: 10px;
}