.btn-edit{
    min-width: 110px;
}

ion-label{
    padding-left: 10px;
}

.thumbnail{
    width: 33%;
    padding-left: 5px;
    padding-top: 5px;
}

.received {
    background: rgba(76, 76, 76, 0.80);
    width: fit-content;
    padding: 0 10px;
    border-radius: 0 10px 10px 10px;
    margin: 10px;
    color: white;
}

.sent {
    background: rgba(26, 26, 26, 0.8);
    width: fit-content;
    float: right;
    padding: 0 10px;
    border-radius: 10px 10px 0 10px;
    color: white;
    margin: 10px;
}

.message-container{
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    min-height: 35%;
}

.topics{
    font-size: 17px;
}