<ion-header>
  <ion-toolbar style="--background: #0f0f0f; border-bottom: 3px solid white;">
    <ion-buttons slot="start">
      <ion-back-button style="color: white;" defaultHref="/damage-estimate"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img src="../../assets/Kia White Logo (no BG).png" style="width: 33%; margin-left: 25%;">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background-image" fullscreen="true">
  <div style="margin: 20px 10px;">
    <!-- <div style="margin: 10px;"> -->
      <div *ngFor="let msg of messages">
        <tr class="row">
          <td class="col-10">
            <ion-textarea auto-grow=true disabled class="received" *ngIf="msg.isAdmin" value="{{msg.message}}"></ion-textarea>
          </td>
          <td class="col-2"></td>
        </tr>
        <tr class="row">
          <td class="col-2"><td>
          <td class="col-10">
            <ion-textarea auto-grow=true disabled class="sent" *ngIf="!msg.isAdmin" value="{{msg.message}}"></ion-textarea>
          </td>
        </tr>
      </div>
    <!-- </div> -->
  </div>
  <div class="message-container">
    <div style="margin-top: 20px;">
      <tr class="row" style="place-items: center">
        <td style="padding-right: unset;" class="col-7">
          <ion-label style="padding: unset;" class="topics">View images</ion-label>
        </td>
        <td class="col-5">
          <ion-button class="btn-edit" (click)="gotoViewImages()">View</ion-button>
        </td>
      </tr>
      <!-- <tr>
        <span *ngFor="let item of imgURLs">
          <img class="thumbnail" [src]='item.src'>
        </span>
      </tr> -->
    </div>
  
    <div style="margin-top: 20px;">
      <tr class="row" style="place-items: center">
        <td style="padding-right: unset;" class="col-7">
          <ion-label style="padding: unset;" class="topics">View videos</ion-label>
        </td>
        <td class="col-5">
          <ion-button class="btn-edit" (click)="gotoViewVideos()">View</ion-button>
        </td>
      </tr>
      <!-- <tr>
        <span *ngFor="let item of imgURLs">
          <img class="thumbnail" [src]='item.src'>
        </span>
      </tr> -->
    </div>

    <div style="margin-top: 20px;" *ngIf="!kiaProviderService.isDamageEstimatePending">
      <tr class="row" style="place-items: center">
        <td style="padding-right: unset;" class="col-7">
          <ion-label style="padding: unset;" class="topics">Download estimate</ion-label>
        </td>
        <td class="col-5">
          <ion-button class="btn-edit" (click)="download('_kia_estimate.pdf')">Download</ion-button>
        </td>
      </tr>
    </div>
  </div>
</ion-content>
<!-- <ion-footer no-border>
  <img class="kia-main-footer" src="../../assets/kia-footer.png" alt="kia-footer">
</ion-footer> -->