<ion-content style="overflow: hidden; --background: linear-gradient(#bc8952 10%, #030708 90%);">
<!-- <ion-content style="overflow: hidden; --background: linear-gradient(rgba(234,183,126,1) 0%, rgba(234,183,126,1) 6%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,1) 100%);"> -->
  
  <!-- <div #image style="background-color: white; height: 70%;"> -->
    <!-- <img  src="../../assets/kia-login.jpg" alt="KIA MOTORS"> -->
  <!-- </div> -->
  <div #square  class="underHalf">
    <!-- <ion-list> -->
      <div>
        <img src="../../assets/kia-login-accepted.png" alt="KIA MOTORS">
      </div>
      <div style="margin: 10px 0px;">
        <img style="width: 36%;" src="../../assets/Kia White Logo (no BG).png" alt="KIA MOTORS">
      </div>
      <!-- <div>
        <ion-button class="btnLogin" [routerLink]="['/home']">
          Login With Google
        </ion-button>
      </div>

      <div>
        <ion-button class="btnLogin" [routerLink]="['/home']">
          Login With Facebook
        </ion-button>
      </div> -->

      <div style="margin: 0 16%;">
        <ion-button class="btnLogin" [routerLink]="['/phone-verify']">
          Kia owners
        </ion-button>
      </div>

      <div style="margin: 0 16%;">
        <ion-button class="btnLogin" (click)="gotoHome()">
          Guest
        </ion-button>
      </div>
    <!-- </ion-list> -->
    <div>
      
    </div>
  </div>

</ion-content>