.btnLogin{
    // --background:linear-gradient(to right,#1d1d1d 10%, #505050 45%, #505050 55%,  #1d1d1d 90%);
    --background: black;
    width: 90%;
    height: 45px;
    border-radius: 10px;
    // border: 2px solid white;
}

// .square{
//     width: 100%;
//     background-color: aqua;
// }

.underHalf{
    width: 100%;
    text-align-last: center;
}
// .image{
//     width: 30% !important;
// }
.blackBG{
    background:#0f0f0f !important;
}