<ion-header>
  <ion-toolbar style="--background: #0f0f0f;">
    <ion-buttons slot="start">
      <ion-back-button style="color: white;" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img src="../../assets/Kia White Logo (no BG).png" style="width: 33%; margin-left: 25%;">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background-image" fullscreen="true">
  <!-- <div style="width: 100%; height: 3px; background: rgb(235, 0, 41);" slot="fixed"></div> -->

  <div>
    <ion-grid style="padding-left: 15px;">
      <ion-row>
        <ion-col><h4>Contact details</h4></ion-col>
        <ion-col style="text-align: end;"><ion-button (click)="gotoEditProfile()" class="btn-edit btn-add" style="width: 42%; height:64%;">Edit</ion-button></ion-col>
      </ion-row>
    </ion-grid>
    <div style="padding-left: 20px;">

      <div class="topics">
        <span>{{profile.name}}</span><br>
        <span>{{profile.phone_number}}</span><br>
        <span>{{profile.email}}</span>
      </div>
      
    </div>
    <div style="margin-top: 30px; padding-top: 30px; border-top: 1px solid white;">
      <div style="text-align: center;">
        <ion-button (click)="gotoAddVehicle()" style="height: 44px;" class="btn-add btn-edit">+ Add</ion-button>
      </div>
      <div style="text-align: center; margin: 30px 0 18px 0;">
        <ion-label style="font-size: 20px; font-weight: bold;">My vehicles</ion-label>
      </div>
      
      <!-- <ion-item style="--background: transparent; padding-left: 5px;">
        <h4 style="font-weight: bold; margin: unset; color: white;">My vehicles</h4>
        <ion-button style="margin-left: 50%;" (click)="gotoAddVehicle('')" class="btn-edit">+ Add</ion-button>  
      </ion-item> -->
      <!-- <div style="padding-left: 20px;"> -->
        <div class="vehicle-container" *ngFor="let item of profile.vehicles">
          <ion-grid>
            <ion-row style="height: 40px;">
              <ion-col size="8" style="width: 100px; font-size: 20px; text-align: left;">
                <ion-label>{{item.vehicle_no}}</ion-label>
              </ion-col>
              <ion-col size="3" style="text-align: end;">
                <ion-button (click)="gotoUpdateVehicle(item)" class="btn-edit vehicle">Edit</ion-button>
              </ion-col>
              <ion-col size="1">
                <ion-icon name="trash" style="vertical-align: bottom;" (click)="askDeleteVehicle(item)"></ion-icon>
              </ion-col>              
            </ion-row>
            <div *ngIf="item.last_mileage">
              <ion-row>
                <ion-col size="8" style="width: 100px; font-size: 20px; text-align: left;">
                  <ion-label>Last service mileage</ion-label>
                </ion-col>
                <ion-col size="4" style="text-align: end;">
                  <ion-label>{{item.last_mileage | number:'1.0':'en-US'}}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="8" style="width: 100px; font-size: 20px; text-align: left;">
                  <ion-label>Next service mileage</ion-label>
                </ion-col>
                <ion-col size="4" style="text-align: end;">
                  <ion-label>{{item.next_mileage | number:'1.0':'en-US'}}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="8" style="width: 100px; font-size: 20px; text-align: left;">
                  <ion-label>Last service date</ion-label>
                </ion-col>
                <ion-col size="4" style="text-align: end;">
                  <ion-label>{{item.last_date}}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="8" style="width: 100px; font-size: 20px; text-align: left;">
                  <ion-label>next service date</ion-label>
                </ion-col>
                <ion-col size="4" style="text-align: end;">
                  <ion-label>{{item.next_date}}</ion-label>
                </ion-col>
              </ion-row>
          </div>
          </ion-grid>
        </div>
      <!-- </div> -->
    </div>
  </div>
  
</ion-content>
<!-- <ion-footer no-border>
  <img class="kia-main-footer" src="../../assets/kia-footer.png" alt="kia-footer">
</ion-footer> -->