<ion-header>
  <ion-toolbar style="--background: #0f0f0f; border-bottom: 3px solid white;">
    <ion-buttons slot="start">
      <ion-back-button style="color: white;" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img src="../../assets/Kia White Logo (no BG).png" style="width: 33%; margin-left: 25%;">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background-image" fullscreen="true">
  <!-- <div style="width: 100%; height: 3px; background: rgb(235, 0, 41);" slot="fixed"></div> -->

  <div>
    <ion-grid style="padding-left: 15px;">
      <ion-row>
        <ion-col><h4>Contact details</h4></ion-col>
        <ion-col style="text-align: end;"><ion-button (click)="gotoEditProfile()" class="btn-edit btn-add" style="width: 42%; height:64%;">Edit</ion-button></ion-col>
      </ion-row>
    </ion-grid>
    <div style="padding-left: 20px;">

      <div class="topics">
        <span>{{profile.my_name}}</span><br>
        <span>{{profile.my_tel_no}}</span><br>
        <span>{{profile.my_email}}</span>
      </div>
      
    </div>
    <div style="margin-top: 30px; padding-top: 30px; border-top: 1px solid white;">

      <ion-grid style="padding-left: 15px;">
        <ion-row>
          <ion-col><ion-label style="font-size: 20px; font-weight: bold;">My vehicles</ion-label></ion-col>
          <ion-col style="text-align: end;"><ion-button (click)="gotoAddVehicle('')" class="btn-add btn-edit">+ Add</ion-button></ion-col>
        </ion-row>
      </ion-grid>

      <!-- <ion-item style="--background: transparent; padding-left: 5px;">
        <h4 style="font-weight: bold; margin: unset; color: white;">My vehicles</h4>
        <ion-button style="margin-left: 50%;" (click)="gotoAddVehicle('')" class="btn-edit">+ Add</ion-button>  
      </ion-item> -->
      <div style="padding-left: 20px;">
        <div *ngFor="let item of profile.my_vehicles">
          <tr class="row">
            <td class="col-4" style="width: 100px; font-size: 20px;">
              <ion-label>{{item}}</ion-label>
            </td>
            <td class="col-8">
              <ion-button (click)="gotoAddVehicle(item)" class="btn-edit vehicle">Edit</ion-button>
            </td>
          </tr>
        </div>
      </div>
    </div>
  </div>
  
</ion-content>
<!-- <ion-footer no-border>
  <img class="kia-main-footer" src="../../assets/kia-footer.png" alt="kia-footer">
</ion-footer> -->