<ion-header>
  <ion-toolbar style="--background: #0f0f0f;">
    <ion-buttons slot="start">
      <ion-back-button style="color: white;" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img src="../../assets/Kia White Logo (no BG).png" style="width: 33%; margin-left: 25%;">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background-image vertical-center" fullscreen="true">
  <!-- <div style="width: 100%; height: 3px; background: rgb(235, 0, 41);" slot="fixed"></div> -->
  
  <div style="text-align: -webkit-center; margin-top: 30%; margin-bottom: 20px;">
    <ion-item class="selector-wrapper">
      <ion-select placeholder="Select showroom" okText="Confirm" cancelText="Dismiss" (ionChange)="selectShowroom($event)">
        <ion-select-option *ngFor="let item of showrooms" value="{{item.shop_id}}">{{item.shop_name}}</ion-select-option>
      </ion-select>
    </ion-item>
  </div>

  <div class="text-white" style="min-height: 40%;">
    <div style="text-align:center">
      <label class="topics">Showroom Name</label><br>
      <label class="content">{{showroomName}}</label>
    </div>
    <div style="text-align:center; margin:14px 0; min-height: 48px;">
      <label class="topics">Showroom Address</label><br>
      <!-- <label class="content" style="white-space: pre-line;">{{showroomAddress}}</label> -->
      <div *ngFor="let item of showroomAddressSplitted; let i = index" style="height: 18px;">
        <label class="content">{{item}}</label>
        <label class="content" *ngIf="showroomAddressSplitted.length>i+1">,</label>
      </div>
    </div>
    <div style="text-align:center;">
      <label class="topics">Opening Hours</label><br>
      <label class="content">{{showRoomOpenHours}}</label>
    </div>
  </div>

  <div style="margin-top: 50px; text-align: center; width: 100%;">
    <ion-button class="btnNavigate" [disabled]='!isValid' (click)="gotoCalendar()" style="margin-right: 40px;">Next</ion-button>
    <ion-button class="btnNavigate" [routerLink]="['/home']">Cancel</ion-button>
  </div>
</ion-content>

<!-- <ion-footer  no-border>
  <img class="kia-main-footer" src="../../assets/kia-footer.png" alt="kia-footer">
</ion-footer> -->