<ion-app>
  <ion-menu menuId="main-menu" content-id='main' (ionWillClose)="menuClosed()">
    <ion-header>
      <ion-toolbar style="--background: black;">
        <img src="../../assets/Kia White Logo (no BG).png" style="width: 26%; margin-left: 20px;" alt="KIA MOTORS">
      </ion-toolbar>
    </ion-header>
    <ion-content class="gradientBackground">
      <ion-list style="background:transparent;">
        <ion-menu-toggle>
          <ion-item (click)="gotoLogin()" *ngIf='kiaProviderService.permissionLevel==0'>
            <ion-icon style="color: white;" name="log-in-outline" slot="start"></ion-icon>
            <ion-label class="text-white">Sign In / Sign Up</ion-label>
          </ion-item>
          <ion-item (click)="gotoMyProfile()" *ngIf='kiaProviderService.permissionLevel!=0'>
            <!-- <ion-icon style="color: white;" name="person-outline" slot="start"></ion-icon> -->
            <img class="menu-image" src="../assets/sidemenu-icons/My Account.png" alt="KIA">
            <ion-label class="text-white">My profile</ion-label>
          </ion-item>

          <ion-item (click)="gotoHome()">
            <!-- <ion-icon style="color: white;" name="home-outline" slot="start"></ion-icon> -->
            <img class="menu-image" src="../assets/sidemenu-icons/Showroom.png" alt="KIA">
            <ion-label class="text-white">Showroom</ion-label>
          </ion-item>

          <ion-item (click)="goToShowroom()">
            <!-- <ion-icon style="color: white;" name="car-outline" slot="start"></ion-icon> -->
            <img class="menu-image" src="../assets/sidemenu-icons/Test Drive.png" alt="KIA">
            <ion-label class="text-white">Test drive</ion-label>
          </ion-item>
          <ion-item (click)="gotoServices(2)" [disabled]='kiaProviderService.permissionLevel!=2'>
            <!-- <ion-icon style="color: white;" name="hammer-outline" slot="start"></ion-icon> -->
            <img class="menu-image" src="../assets/sidemenu-icons/Service & maintainance.png" alt="KIA">
            <ion-label class="text-white">Service & maintenance</ion-label>
          </ion-item>
          <ion-item (click)="gotoServices(4)" [disabled]='kiaProviderService.permissionLevel!=2'>
            <!-- <ion-icon style="color: white;" name="car-outline" slot="start"></ion-icon> -->
            <img class="menu-image" src="../assets/sidemenu-icons/Mecanical Repairs.png" alt="KIA">
            <ion-label class="text-white">Mechanical repairs</ion-label>
          </ion-item>
        </ion-menu-toggle>


        <ion-item (click)="openAccidentSub()" [disabled]='kiaProviderService.permissionLevel!=2'>
          <img class="menu-image" src="../assets/sidemenu-icons/Accident Repairs.png" alt="KIA">
          <ion-label class="text-white">Accident repairs</ion-label>
          <ion-icon *ngIf="!accidentSub" style="color: white;" name="caret-forward-outline" slot="end"></ion-icon>
          <ion-icon *ngIf="accidentSub" style="color: white;" name="caret-down-outline" slot="end"></ion-icon>
        </ion-item>
        <ion-list style="background:transparent; padding: unset; margin-left:20%" *ngIf="accidentSub">
          <ion-menu-toggle>
            <ion-item (click)="gotoServices(3)">
              <ion-label class="text-white">Book service</ion-label>
            </ion-item>
            <ion-item (click)="gotoDamageEstimate()">
              <ion-label class="text-white">Get a damage estimate</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>


        <ion-menu-toggle>
          <ion-item (click)="gotoServices(5)" [disabled]='kiaProviderService.permissionLevel!=2'>
            <img class="menu-image" src="../assets/sidemenu-icons/Auto Spa.png" alt="KIA">
            <ion-label class="text-white">Auto spa</ion-label>
          </ion-item>
          <ion-item (click)="gotoRequestPart()" [disabled]='kiaProviderService.permissionLevel!=2'>
            <!-- <ion-icon style="color: white;" name="cart-outline" slot="start"></ion-icon> -->
            <img class="menu-image" src="../assets/sidemenu-icons/Request part.png" alt="KIA">
            <ion-label class="text-white">Request part</ion-label>
          </ion-item>
          <ion-item (click)="gotoAccessories()" [disabled]='kiaProviderService.permissionLevel!=2'>
            <!-- <ion-icon style="color: white;" name="build-outline" slot="start"></ion-icon> -->
            <img class="menu-image" src="../assets/sidemenu-icons/Accessories.png" alt="KIA">
            <ion-label class="text-white">Accessories</ion-label>
          </ion-item>
          <ion-item (click)="gotoCallUs()" [disabled]='kiaProviderService.permissionLevel!=2'>
            <!-- <ion-icon style="color: white;" name="build-outline" slot="start"></ion-icon> -->
            <img class="menu-image" src="../assets/sidemenu-icons/Roadside assistance.png" alt="KIA">
            <ion-label class="text-white">24/7 Roadside assistance</ion-label>
          </ion-item>
          <ion-item [disabled]='kiaProviderService.permissionLevel!=2' (click)="goToMyBookings()">
            <!-- <ion-icon style="color: white;" name="book-outline" slot="start"></ion-icon> -->
            <img class="menu-image" src="../assets/sidemenu-icons/My Bookings.png" alt="KIA">
            <ion-label class="text-white">My bookings</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-item (click)="openSubPick()" [disabled]='kiaProviderService.permissionLevel!=2'>
          <img class="menu-image" src="../assets/sidemenu-icons/Vehicle pick & drop-.png" alt="KIA">
          <ion-label class="text-white">Pick & drop</ion-label>
          <ion-icon *ngIf="!pickAndDropSub" style="color: white;" name="caret-forward-outline" slot="end"></ion-icon>
          <ion-icon *ngIf="pickAndDropSub" style="color: white;" name="caret-down-outline" slot="end"></ion-icon>
        </ion-item>
        <ion-list style="background:transparent; padding: unset; margin-left:20%" *ngIf="pickAndDropSub">
          <ion-menu-toggle>
            <ion-item (click)="gotoPickAndDropBookings()">
              <ion-label class="text-white">My bookings</ion-label>
            </ion-item>
            <ion-item (click)="gotoPickAndDrop()">
              <ion-label class="text-white">Book now</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-menu-toggle>
          <ion-item (click)="gotoOnlinePayment()" [disabled]='kiaProviderService.permissionLevel!=2'>
            <!-- <ion-icon style="color: white;" name="card-outline" slot="start"></ion-icon> -->
            <img class="menu-image" src="../assets/sidemenu-icons/Online Payment.png" alt="KIA">
            <ion-label class="text-white">Online payment</ion-label>
          </ion-item>
          <ion-item (click)="gotoShowroomList()">
            <!-- <ion-icon style="color: white;" name="locate" slot="start"></ion-icon> -->
            <img class="menu-image" src="../assets/sidemenu-icons/Find us.png" alt="KIA">
            <ion-label class="text-white">Find us</ion-label>
          </ion-item>
          <ion-item (click)="gotoHelpSupport()">
            <!-- <ion-icon style="color: white;" name="information-circle-outline" slot="start"></ion-icon> -->
            <img class="menu-image" src="../assets/sidemenu-icons/User guide.png" alt="KIA">
            <ion-label class="text-white">Help and support</ion-label>
          </ion-item>
          <ion-item (click)="gotoContactUs()">
            <!-- <ion-icon style="color: white;" name="information-circle-outline" slot="start"></ion-icon> -->
            <img class="menu-image" src="../assets/sidemenu-icons/Help & Support.png" alt="KIA">
            <ion-label class="text-white">Contact us</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>