<ion-header>
  <ion-toolbar style="--background: #0f0f0f;">
    <ion-buttons slot="start">
      <ion-back-button style="color: white;" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img src="../../assets/Kia White Logo (no BG).png" style="width: 33%; margin-left: 25%;">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background-image" style="text-align: -webkit-center;" fullscreen="true">
  <div class="loader" *ngIf="showLoader">
    <ion-label>Please wait</ion-label><br>
    <ion-spinner name="dots"></ion-spinner>
  </div>
  <div *ngFor="let item of bills" class="billItem text-white">
    <ion-label>Refno: {{item.refNo}}</ion-label><br>
    <ion-label>Vehicle number: {{item.vehino}}</ion-label><br>
    <ion-label>Refinv: {{item.refInv}}</ion-label><br>
    <ion-label>Date: {{item.txnDate}}</ion-label><br>
    <ion-label>Bill amount: Rs. {{item.bamt | number:'1.0':'en-US'}}</ion-label><br>
    <ion-label>Balance amount: Rs. {{item.totBal | number:'1.0':'en-US'}}</ion-label><br>
    <ion-label>Vehicle type: {{item.dbId}}</ion-label><br>
  </div>

  <h2 *ngIf="bills.length==0" style="text-align: center; margin-top: 20%;">Nothing to pay</h2>
  <div *ngIf="bills.length==0" style="width: 100%; margin: 20px 0; text-align: center;">
    <ion-button class="btnNavigate" [routerLink]="['/home']">Back</ion-button>
  </div>
  <div *ngIf="bills.length!=0" style="text-align: center; margin: 40px 0;">
    <ion-button class="btnNavigate" [routerLink]="['/online-payment-select']">Pay</ion-button>
  </div>
</ion-content>