// .enabled {
//     --background: linear-gradient(rgb(234,183,126) 0%, rgb(117, 91, 61) 100%);
//     --color: #FFFFFF;
// }

.booking-container{
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
}

.btn-edit{
    float: right;
    min-width: 100px;
}

// .vehicle{
//     height: 24px;
//     margin-left: 30%;
//     font-size: small;
// }

.btn-damage{
    --background: linear-gradient(to right,#ba8750 0%, #9e6432 100%);
    --border-radius:6px;
    text-transform: none;
    min-width: 92px;
}

.custom-input{
    // color: black;
    background: transparent;
    border:none;
    width:-webkit-fill-available;
    overflow: hidden;
}