<ion-header>
  <ion-toolbar style="--background: #0f0f0f; border-bottom: 3px solid white;">
    <ion-buttons slot="start">
      <ion-back-button style="color: white;" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img src="../../assets/Kia White Logo (no BG).png" style="width: 33%; margin-left: 25%;">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background-image" fullscreen="true">
  <h1 style="text-align: center;">Damage estimate requests</h1>
  <!-- <div *ngFor="let item of estimateRequest" class="booking-container text-white">
    <tr class="row">
      <td class="col-8">
        <ion-label style="font-size: larger; padding-top: 2%;">{{item.description}}</ion-label>
      </td>
      <td class="col-4">
        <ion-button class="btn-damage" (click)="gotoView(false)" *ngIf="item.status==4">View</ion-button>
        <ion-button class="btn-damage" (click)="gotoRespond()" *ngIf="item.status==2">Respond</ion-button>
        <ion-button class="btn-damage" (click)="gotoView(true)" *ngIf="item.status==1 || item.status==3">Pending</ion-button>
      </td>
    </tr>
  </div> -->

  <ion-grid *ngFor="let item of estimateRequest" class="booking-container text-white">
    <ion-row>
      <ion-col size="8">
        <textarea disabled class="custom-input" value="{{item.description}}"></textarea>
      </ion-col>
      <ion-col size="4">
        <ion-button class="btn-damage" (click)="gotoView(item.damage_estimate_id)" *ngIf="item.estimate_status==4">View</ion-button>
        <ion-button class="btn-damage" (click)="gotoRespond(item.damage_estimate_id)" *ngIf="item.estimate_status==2">Respond</ion-button>
        <ion-button class="btn-damage" (click)="gotoPending(item.damage_estimate_id)" *ngIf="item.estimate_status==1 || item.estimate_status==3">Pending</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-fab slot="fixed" horizontal="center" style="bottom: 70px;">
    <ion-fab-button class="enabled" [routerLink]="['/damage-image-upload']">Create</ion-fab-button>
  </ion-fab> -->
  <div style="text-align: center; margin-top: 40px;">
    <ion-button class="btnNavigate" [routerLink]="['/damage-image-upload']">Create</ion-button>
  </div>
</ion-content>
<!-- <ion-footer no-border>
  <img class="kia-main-footer" src="../../assets/kia-footer.png" alt="kia-footer">
</ion-footer> -->