<ion-header>
  <ion-toolbar style="--background: #0f0f0f; border-bottom: 3px solid white;">
    <ion-buttons slot="start">
      <ion-back-button style="color: white;" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img src="../../assets/Kia White Logo (no BG).png" style="width: 33%; margin-left: 25%;">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background-image" fullscreen="true">
  <!-- <div style="width: 100%; height: 3px; background: rgb(235, 0, 41);" slot="fixed"></div> -->
  <h1 style="text-align: center;">My bookings</h1>

  <div *ngFor="let item of allBookings" class="booking-container">
    <div>
      <ion-label class="topics" *ngIf="item.booking_type==1">Type: Test Drive</ion-label>
      <ion-label class="topics" *ngIf="item.booking_type==2">Type: Service</ion-label>
      <ion-label class="topics" *ngIf="item.booking_type==3">Type: Body shop</ion-label>
      <ion-label class="topics" *ngIf="item.booking_type==4">Type: Workshop</ion-label>
    </div>
    <div>    
      <ion-label class="topics">Date: {{item.date}}</ion-label>
    </div>
    <div>
      <ion-label class="topics">Time: {{item.start}}-{{item.end}}</ion-label>
    </div>
    <div>
      <ion-label class="topics" *ngIf="item.supervisor_name">Agent: {{item.supervisor_name}}</ion-label>
    </div>
  </div>
  <h2 *ngIf="allBookings.length==0" style="text-align: center; margin-top: 20%;">No bookings yet</h2>
  <div style="width: 100%; margin: 20px 0; text-align: center;">
    <ion-button class="btnNavigate" [routerLink]="['/home']">Back</ion-button>
  </div>
</ion-content>
<!-- <ion-footer no-border>
  <img class="kia-main-footer" src="../../assets/kia-footer.png" alt="kia-footer">
</ion-footer> -->