// ion-content.background-image{
//     --background: url(../../assets/kia-background.jpg) 0 0/100% 100% no-repeat;
// }

.booking-container{
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    text-align: center;
}