.btn-edit{
    min-width: 100px;
}

ion-label{
    padding-left: 10px;
}

.thumbnail{
    width: 33%;
    padding-left: 5px;
    padding-top: 5px;
    overflow: hidden;
}

.error-message {
    margin-left: 10%;
    text-align: left;
}
.video-count{
    padding-left: 20px;
    font-size: small;
}

.topics{
    font-size: 17px;
}

.message{
    margin-left: 10px;
    font-size: small;
}

.loader{
    text-align: center;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    padding-top: 70%;
    z-index: 2;
}