<ion-header>
  <ion-toolbar style="--background: #0f0f0f; border-bottom: 3px solid white;">
    <ion-buttons slot="start">
      <ion-back-button style="color: white;" defaultHref="/damage-estimate"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img src="../../assets/Kia White Logo (no BG).png" style="width: 33%; margin-left: 25%;">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background-image" fullscreen="true">
  <ion-label>Message</ion-label>
  <ion-item>
    <ion-textarea style="margin-left: 10%; margin-right: 10%;" auto-grow=true placeholder="Write a note"></ion-textarea>
  </ion-item>
</ion-content>
<ion-footer no-border>
  <img class="kia-main-footer" src="../../assets/kia-footer.png" alt="kia-footer">
</ion-footer>