.btn-edit{
    min-width: 100px;
}

ion-label{
    padding-left: 10px;
}

.thumbnail{
    width: 33%;
    padding-left: 5px;
    padding-top: 5px;
    overflow: hidden;
}

.error-message {
    margin-left: 10%;
    text-align: left;
}
.video-count{
    padding-left: 20px;
    font-size: small;
}

.topics{
    font-size: 17px;
}