/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


// .monthview-container{
    // background: white;
    // border-radius: 20px;
    // width: 90%;
// }

.event-detail-container {
    display: none;
}

// .monthview-selected{
//     background: rgb(235, 0, 41) !important;
// }

.swiper-pagination-bullet {
    background: linear-gradient(to right,#ba8750 0%, #9e6432 100%) !important;
}

// .swiper-container-horizontal>.swiper-pagination-bullets {
//     top: 10px !important;
// }

:root {
    --ion-color-kiared:  rgba(235, 0, 39, 0.959);
    --ion-color-kiared-rgb: 255, 215, 0;
    --ion-color-kiared-contrast: #000000;
    --ion-color-kiared-contrast-rgb: 0, 0, 0;
    --ion-color-kiared-shade: #e00f00;
    --ion-color-kiared-tint: #ff291a;
}
.ion-color-kiared {
    --ion-color-base: var(--ion-color-kiared) !important;
    --ion-color-base-rgb: var(--ion-color-kiared-rgb) !important;
    --ion-color-contrast: var(--ion-color-kiared-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-kiared-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-kiared-shade) !important;
    --ion-color-tint: var(--ion-color-kiared-tint) !important;
}

@font-face {
    font-family: 'kia';
    src:url('./assets/font/KiaSignatureRegular.ttf');
}

.alert-tappable.sc-ion-alert-md.bookedSlot {
    position: relative;
    height: 48px;
    overflow: hidden;
    background: gray;
}

.alert-wrapper.sc-ion-alert-md {
    background: #1b1b1b;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
}

.alert-radio-label.sc-ion-alert-md {
    color: white;
}

.alert-sub-title.sc-ion-alert-md {
    color: white;
    font-size: 14px;
    text-align: center;
}

[aria-checked=true].sc-ion-alert-md .alert-radio-icon.sc-ion-alert-md {
    border-color: white;
}

.alert-radio-inner.sc-ion-alert-md {
    background-color: white;
}

.alert-button-inner.sc-ion-alert-md {
    color: white;
}

.alert-radio-group.sc-ion-alert-md, .alert-checkbox-group.sc-ion-alert-md {
    // border-top: 1px solid var(--ion-color-step-150, rgb(235, 0, 41));
    // border-bottom: 1px solid var(--ion-color-step-150, rgb(235, 0, 41));
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.alert-title.sc-ion-alert-md {
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.alert-message.sc-ion-alert-md {
    max-height: 240px;
    font-size: 16px;
    color: white;
}

[aria-checked=true].sc-ion-alert-md .alert-radio-label.sc-ion-alert-md {
    // color: var(--ion-color-step-850, rgb(235, 0, 41));
    color: white;
}



// .alert-tappable.sc-ion-alert-md.bookedSlot {
//     position: relative;
//     height: 48px;
//     overflow: hidden;
//     background: rgb(216, 212, 212);
// }

// .alert-wrapper.sc-ion-alert-md {
//     background: white;
//     border: 1px solid #1b1b1b;
//     border-radius: 10px;
//     color: #1b1b1b;
// }

// .alert-radio-label.sc-ion-alert-md {
//     color: #1b1b1b;
// }

// .alert-sub-title.sc-ion-alert-md {
//     color: #1b1b1b;
//     font-size: 14px;
//     text-align: center;
// }

// [aria-checked=true].sc-ion-alert-md .alert-radio-icon.sc-ion-alert-md {
//     border-color: #1b1b1b;
// }

// .alert-radio-inner.sc-ion-alert-md {
//     background-color: #1b1b1b;
// }

// .alert-button-inner.sc-ion-alert-md {
//     color: #1b1b1b;
// }

// .alert-radio-group.sc-ion-alert-md, .alert-checkbox-group.sc-ion-alert-md {
//     // border-top: 1px solid var(--ion-color-step-150, rgb(235, 0, 41));
//     // border-bottom: 1px solid var(--ion-color-step-150, rgb(235, 0, 41));
//     border-top: 1px solid #1b1b1b;
//     border-bottom: 1px solid #1b1b1b;
// }

// [aria-checked=true].sc-ion-alert-md .alert-radio-label.sc-ion-alert-md {
//     // color: var(--ion-color-step-850, rgb(235, 0, 41));
//     color: #1b1b1b;
// }



.btnNavigate{
    // --background: linear-gradient(to right,#ba8750 0%, #9e6432 100%);
    --background: black;
    --border-radius: 10px;
    min-width: 142px;
    height: 54px;
    font-size: 18px;
    text-transform: none;
}

ion-content.background-image{
    --background: url(./assets/kia-background.jpg) 0 0/100% 100% no-repeat;
    --color: white;
    // --background: linear-gradient(rgba(234,183,126,1) 0%, rgba(234,183,126,0.75) 10%, rgba(0,0,0,0.5) 40%, rgba(0,0,0,1) 100%);
}

.input-style{
    border-radius: 10px;
    width: 80%;
    font-size: 16px;
    text-align: center;
    letter-spacing: 2px;
}

.topics{
    font-size: 18px;
    margin: unset;
}

.content{
    font-size: smaller;
}

.selector-wrapper{
    min-width: 36%;
    width: fit-content;
    padding: 0px 10px;
    background: white;
    border-radius: 7px;
    font-weight: bold;
}

.btn-edit{
    --border-radius:6px;
    text-transform: none;
    --background:black;
}

.star-modal{
    top: 30%;
    height: 280px;
    margin: 25px;
    border-radius: 10px;
}