<ion-header>
  <ion-toolbar style="--background: #0f0f0f;">
    <ion-buttons slot="start">
      <ion-back-button style="color: white;" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img src="../../assets/Kia White Logo (no BG).png" style="width: 33%; margin-left: 25%;">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="background-image">
  <!-- <div style="width: 100%; height: 3px; background: rgb(235, 0, 41);" slot="fixed"></div> -->

  <div style="width: 100%; text-align: center; margin-top: 20px;">
    <ion-label class="topics">Select Date</ion-label>
  </div>



  <div style="width: 100%; text-align: -webkit-center;">
    <div style="width: 96%; text-align: -webkit-center; background: white; border-radius: 20px;">

      <ion-row>
        <!-- Move back one screen of the slides -->
        <ion-col size="2">
          <ion-button fill="clear" (click)="back()">
            <ion-icon name="arrow-back" slot="icon-only" class="padding-top change-month"></ion-icon>
          </ion-button>
        </ion-col>

        <ion-col size="8" class="ion-text-center">
          <h2 class="calendar-header">{{ viewTitle }}</h2>
        </ion-col>

        <!-- Move forward one screen of the slides -->
        <ion-col size="2">
          <ion-button fill="clear" (click)="next()">
            <ion-icon name="arrow-forward" slot="icon-only" class="padding-top change-month"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>


      <div style="width: 90%;">
        <calendar [eventSource]="eventSource" 
        [currentDate]="calendar.currentDate"
        (onTitleChanged)="onViewTitleChanged($event)" 
        (onCurrentDateChanged)="onCurrentDateChanged($event)"
        [markDisabled]="markDisabled"
        [startingDayMonth]="calendar.startingDayMonth">
      </calendar>
        <!-- <calendar [eventSource]="eventSource" 
          [calendarMode]="calendar.mode" 
          [currentDate]="calendar.currentDate"
          (onTitleChanged)="onViewTitleChanged($event)" 
          (onCurrentDateChanged)="onCurrentDateChanged($event)"
          (onEventSelected)="onEventSelected($event)"
          [markDisabled]="markDisabled"
          [startingDayMonth]='calendar.startingDayMonth' 
          [monthviewDisplayEventTemplate]="customtemplate">
        </calendar> -->

        <!-- <ng-template #customtemplate let-view="view" let-row="row" let-col="col">
          <div [class.with-event]="view.dates[row*7+col].events.length">
            {{view.dates[row*7+col].label}}
            <div class="indicator-container" *ngIf="timeSlots.length>view.dates[row*7+col].events.length" (click)="clickOnEvent(false, view.dates[row*7+col].events.length)">
              <div class="event-indicator" *ngFor="let e of view.dates[row*7+col].events"></div>
            </div>
            <div class="indicator-container" *ngIf="view.dates[row*7+col].events.length>timeSlots.length-1" (click)="clickOnEvent(true, view.dates[row*7+col].events.length)">
              <div class="event-indicator event-full" *ngFor="let e of view.dates[row*7+col].events"></div>
            </div>
          </div>
        </ng-template> -->
      </div>
    </div>
  </div>

  <div *ngIf="kiaProviderService.booking_type!=1">
    <div *ngIf="!isHoliday">
      <div *ngIf="slotsAvailable" style="width: 100%; text-align: center; margin-top: 10px;">
        <ion-label class="topics">Select time slot</ion-label>
      </div>
    
      <div style="text-align: -webkit-center;" *ngIf="slotsAvailable">
        <ion-item class="selector-wrapper">
          <ion-select okText="Confirm" cancelText="Dismiss" (ionChange)="selectTimeSlot($event)" placeholder="Time slot" *ngIf="firstView">
            <ion-select-option value="{{item.start}},{{item.end}}-{{item.status}}+{{item.slot}}~{{item.booking_settings_id}}" *ngFor="let item of bookedSlots" [ngClass]="{'bookedSlot': item.status == 'booked'}">{{item.start}}-{{item.end}}</ion-select-option>
          </ion-select>
          <ion-select okText="Confirm" cancelText="Dismiss" (ionChange)="selectTimeSlot($event)" placeholder="Time slot" *ngIf="!firstView">
            <ion-select-option value="{{item.start}},{{item.end}}-{{item.status}}+{{item.slot}}~{{item.booking_settings_id}}" *ngFor="let item of bookedSlots" [ngClass]="{'bookedSlot': item.status == 'booked'}">{{item.start}}-{{item.end}}</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
    </div>
  </div>
  
  <!-- <div style="text-align: center; margin: 20px;" *ngIf="isSlotBooked || !isAvailableDay || isRecentDay"> -->
  <div *ngIf="kiaProviderService.booking_type!=1">
    <div *ngIf="!isHoliday">
      <div style="text-align: center; margin: 20px;" *ngIf="(isSlotBooked || !isAvailableDay) && slotsAvailable">
        <ion-checkbox #inquiry color="danger" size="larger" checked="false" (ionChange)="checkBoxChanged($event)"></ion-checkbox>
        <span>
          <ion-label label-for="inquiry"
            style="font-size: 16px; padding-left: 10px; vertical-align: bottom;">
            Make an inquiry
          </ion-label>
        </span>
      </div>
    </div>
  </div>


  <div *ngIf="kiaProviderService.booking_type!=1">
    <div style="width: 100%; text-align: center; margin-top: 10px;">
      <ion-label class="topics">Select vehicle</ion-label>
    </div>
  
    <div style="text-align: -webkit-center; margin-bottom: 20px;">
      <ion-item class="selector-wrapper">
        <ion-select okText="Confirm" cancelText="Dismiss" (ionChange)="selectVehicle($event)" placeholder="Vehicle">
          <div *ngFor="let item of myVehicles">
            <ion-select-option *ngIf="item.verify_status" value="{{item.vehicle_id}}" [ngClass]="{'bookedSlot': item.status == 'booked'}">{{item.vehicle_no}}</ion-select-option>
          </div>
        </ion-select>
      </ion-item>
    </div>
  </div>

  <div style="margin: 20px;" *ngIf="!isSlotBooked"></div>

  <div style="text-align: -webkit-center; margin: 25px 0px; background: rgba(0, 0, 0, 0.5);">
    <h2>Contact us: {{phoneNo}}</h2>
    <ion-button class="btnNavigate"  style="--background: #b1824e; height: 40px;" (click)="call()">Call now</ion-button>
  </div>

  <div style="text-align: -webkit-center;">
    <div style="width: 100%; margin-bottom: 20px;">
      <ion-button class="btnNavigate" style="margin-right: 40px;" (click)="gotoNextPage()" [disabled]='isDisabled || isSubmitted'>Confirm</ion-button>
      <ion-button *ngIf="kiaProviderService.booking_type==1" class="btnNavigate" [routerLink]="['/showroom']">Back</ion-button>
      <ion-button *ngIf="kiaProviderService.booking_type!=1" class="btnNavigate" [routerLink]="['/service-center']">Back</ion-button>
    </div>
  </div>
  
</ion-content>
<!-- <ion-footer no-border>
  <img class="kia-main-footer" src="../../assets/kia-footer.png" alt="kia-footer">
</ion-footer> -->
