// ion-content.background-image{
//     --background: url(../../assets/kia-background.jpg) 0 0/100% 100% no-repeat;
// }

.showroomItem{
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin: 20px;
    width: 70%;
    text-align: center;
    font-size: 18px;
}

.btn-view{
    --border-radius:6px;
    --background: linear-gradient(to right,#ba8750 0%, #9e6432 100%);
    text-transform: none;
    min-width: 92px;
    margin-bottom: 10px;
}